<!DOCTYPE HTML>
<html>
    <head>
            <title></title>
            
    </head>
    <body>
        
        Not Autorized
        
        <form method="POST">
    <input type="password" name="input" value=""/>
</form>

        
    </body>
</html>

