<!DOCTYPE HTML>
<html>
    <head>
            <title></title>
            
    </head>
    <body>
        
        Token!   <h2>[% message %]</h2>
        
        <form method="POST">
        <input type="password" name="input" value=""/>
</form>

        
    </body>
</html>

